


.dang-nhap-section
{
    position: relative;
    min-height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    transition: 0.5s;
    background-color: #efefeb;
}

.dang-nhap-section.active{
    background-color: #b19e8d;
}


.dang-nhap-container{
    /* box-shadow: 0 0.9rem 1.7rem rgba(0,0,0,0.25), 0 0.7rem 0.7rem rgba(0,0,0,0.22); */
    background:#fff;
    width: 800px;
    height:500px;
    position: relative;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}

.dang-nhap-container .user{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
}

.imgBx{
    position: relative;
    width:50%;
    height:100%;
    transition: 0.5s;
}

.imgBx img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

.user .formBx{
    position: relative;
    width:50%;
    height:100%;
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:40px;
    transition: 0.5s;
}

.user .formBx h2{
    font-size:18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width:100%;
    margin-bottom:10px;
    color:#555;
}

.user .formBx input{
    width:100%;
    padding:10px;
    background-color:#f5f5f5;
    color:#333;
    border:none;
    outline:none;
    box-shadow: none;
    font-size:14px;
    margin:8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}   

.user .formBx input[value="Đăng nhập"]{
    max-width:100px;
    background:white;
    color: black;
    font-size:14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
    transition: all 0.5s ease;
    border:2px solid black;
}

.user .formBx input[value="Đăng nhập"]:hover{
    border-color:white;
    color:white;
    background-color: black;
}


.user .formBx input[value='Đăng kí']{
    max-width:100px;
    background:white;
    color: #88796d;
    font-size:14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
    transition: all 0.5s ease;
    border:2px solid #b19e8d;
}

.user .formBx input[value='Đăng kí']:hover{
    border-color:white;
    color:white;
    background-color: #b19e8d;
}




.user .formBx .signup{
    position: relative;
    margin-top:20px;
    font-size:10px;
    letter-spacing: 1px;
    color:#555;
    text-transform: uppercase;
}

.user .formBx .signup a{
    font-weight:  600;
    text-decoration: none;
    color:#677eff;
    margin-left:5px;
}

.dang-nhap-container .signupBx{
    pointer-events: none;
}

.dang-nhap-container.active .signupBx{
    pointer-events: initial;
}

.dang-nhap-container .signupBx .formBx{
    top:100%;
}


.dang-nhap-container.active .signupBx .formBx{
    top:0;
}


.dang-nhap-container .signupBx .imgBx{
    top:-100%;
    transition: 0.5s;
}

.dang-nhap-container.active .signupBx .imgBx{
    top:0;
}






.dang-nhap-container .signinBx .formBx{
    top:0;
}

.dang-nhap-container.active .signinBx .formBx{
    top:100%;
}

.dang-nhap-container .signinBx .imgBx{
    top:0;
    transition: 0.5s;
}

.dang-nhap-container.active .signinBx .imgBx{
    top:-100%;
}


@media screen and (max-width:991px) {
    .dang-nhap-section .dang-nhap-container{
        max-width: 400px;
    }
    .dang-nhap-container .imgBx{
        display:none;
    }
    .dang-nhap-container .user .formBx{
        width:100%;
    }
    .dang-nhap-container.active .signinBx .formBx{
        top:-100%;
    }
}